<div class="jumbotron">
  <h1 class="display-3">Drive me </h1>
  <p class="lead">Drive me is a simple and intuitive application that allows you to quickly find passengers for your trip or to be a passenger of somebody else's trip. You have ability to post your own drive offers and to see other user's offers.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
  </p>
</div>