<div class="animated fadeIn" style="position:absolute; top:8%; left:2%; width:40%; border:solid 1px lightblue; padding:2%;">
    <h3> User informations: </h3>
    <b>Name:</b> <p class="lead">{{name}} </p>
    <b>Last Name:</b> <p class="lead">{{lname}} </p>
    <b>Email address:</b> <p class="lead"> {{email}}</p>
    <b>Username:</b> <p class="lead">{{username}} </p>
    <a href="/" class="btn btn-primary">Back </a>
</div>